<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757502401311-knjqhbsjk2uutep1s7g80nfjc18e1kue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757502401311-knjqhbsjk2uutep1s7g80nfjc18e1kue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757502401311-2adqenu9mqkj9cepf4spe3ocarf595ln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7A0OTmlFIlExtJCMrlkfh-82ZdtxARnU</string>
	<key>GCM_SENDER_ID</key>
	<string>757502401311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holywingsindonesia.ios</string>
	<key>PROJECT_ID</key>
	<string>holywings-f3b18</string>
	<key>STORAGE_BUCKET</key>
	<string>holywings-f3b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757502401311:ios:01f7cb70135eb572952e2a</string>
	<key>DATABASE_URL</key>
	<string>https://holywings-f3b18.firebaseio.com</string>
</dict>
</plist>